.choosePasswordContainer {
    display: flex;
    flex-direction: column;
  }
  .choosePasswordTopBarWrapper {
    display: flex;
    height: 60px;
    width: 100%;
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 999;
  }
  
  .choosePasswordTopBarLeft {
    flex: 4;
    width: 100%;
  }
  .choosePasswordTopBarRight {
    margin-top: 0px;
  }
  
  .choosePasswordTopBarLogo {
    font-size: 30px;
    margin-left: 20px;
    font-weight: 800;
    color: #1877f2;
    cursor: pointer;
    width: 130px;
  }
  .choosePasswordInput {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    margin-right: 20px;
    width: 200px;
  }
  .choosePasswordInput:focus {
    outline: none;
    background-color: white;
  }
  .choosePasswordButtonLogin {
    background-color: #1877f2;
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 80px;
    margin-right: 20px;
    cursor: pointer;
  }
  .choosePasswordLink {
    cursor: pointer;
    color: #1877f2;
    margin-right: 20px;
  }
  .choosePasswordBox {
    display: flex;
    background-color: #e9ebee;
    height: calc(100vh - 60px);
  }
  .choosePasswordBoxContainer {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
    margin: auto;
    width: 500px;
  }
  
  .choosePasswordBoxTop {
    font-size: 12px;
    color: #1c1e21;
    border-bottom: 1px solid #aaa;
    padding: 15px 0 16px 15px;
  }
  .choosePasswordBoxTopTitle {
    padding: 6px 0 6px 6px;
  }
  
  .choosePasswordBoxCenterWrapper {
    display: flex;
    flex-direction: column;
  }
  .choosePasswordBoxCenter {
    display: flex;
    padding-left: 20px;
  }
  
  .choosePasswordBoxCenterLeftCode {
    display: flex;
    padding-bottom: 20px;
  }
  .choosePasswordBoxCenterLeftCodeInput {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    margin-right: 20px;
    width: 100%;
    font-size: 15px;
  }
  .choosePasswordBoxCenterLeftCodeInput:focus {
    outline: none;
    background-color: white;
  }
  .choosePasswordBoxCenterRightTitle {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  .choosePasswordBoxCenterRightEmail {
    font-size: 13px;
    font-weight: 200;
  }
  .choosePasswordBoxCenterLeftTitle {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }
  
  .choosePasswordBoxCenterLeftEmail {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    font-size: 17px;
  }
  .choosePasswordBoxCenterLeftChoice {
    margin-right: 5px;
  }
  .choosePasswordBoxCenterRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .choosePasswordBoxBottom {
    display: flex;
    border-top: 1px solid #aaa;
    padding-left: 20px;
    justify-content: space-between;
  }
  .choosePasswordBoxBottomLeft {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  
  .choosePasswordBoxBottomLeftTitle {
    cursor: pointer;
    color: #1877f2;
    font-size: 14px;
  }
  .choosePasswordBoxBottomRight {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
   
  }
  .choosePasswordBoxBottomRightButton {
    height: 40px;
    width: 100px;
    margin-right: 10px;
    background-color: #e4e6eb;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
  }
  .choosePasswordBoxBottomRightButtonContinue {
    background-color: #1877f2;
    color: #fff;
  }
  