.forgotPasswordStep1Container {
  display: flex;
  flex-direction: column;
}
.forgotPasswordStep1TopBarWrapper {
  display: flex;
  height: 60px;
  width: 100%;
  top: 0;
  position: sticky;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
}

.forgotPasswordStep1TopBarLeft {
  flex: 4;
  width: 100%;
}
.forgotPasswordStep1TopBarRight {
  margin-top: 0px;
}

.forgotPasswordStep1TopBarLogo {
  font-size: 30px;
  margin-left: 20px;
  font-weight: 800;
  color: #1877f2;
  cursor: pointer;
  width: 130px;
}
.forgotPasswordStep1Input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;
  margin-right: 20px;
  width: 200px;
}
.forgotPasswordStep1Input:focus {
  outline: none;
  background-color: white;
}
.forgotPasswordStep1ButtonLogin {
  background-color: #1877f2;
  color: #fff;
  height: 40px;
  border-radius: 10px;
  border: none;
  width: 80px;
  margin-right: 20px;
  cursor: pointer;
}
.forgotPasswordStep1Link {
  cursor: pointer;
  color: #1877f2;
  margin-right: 20px;
}
.forgotPasswordStep1Box {
  display: flex;
  background-color: #e9ebee;
  height: calc(100vh - 60px);
}
.forgotPasswordStep1BoxContainer {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
  margin: auto;
  width: 500px;
}

.forgotPasswordStep1BoxTop {
  font-size: 12px;
  color: #1c1e21;
  border-bottom: 1px solid #aaa;
  padding: 15px 0 16px 15px;
}
.forgotPasswordStep1BoxTopTitle {
  padding: 6px 0 6px 6px;
}

.forgotPasswordStep1BoxCenterWrapper {
  display: flex;
  flex-direction: column;
}
.forgotPasswordStep1BoxCenter {
  display: flex;
  padding-left: 20px;
}

.forgotPasswordStep1BoxCenterLeft {
  flex: 4;
}
.forgotPasswordStep1BoxCenterLeftTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.forgotPasswordStep1BoxCenterLeftEmail {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-size: 17px;
}
.forgotPasswordStep1BoxCenterLeftChoice {
  margin-right: 5px;
}
.forgotPasswordStep1BoxCenterLeftInput {
  height: 45px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  color: gray;
  width: 100%;
  margin-right: 10px;
}
.forgotPasswordStep1BoxCenterLeftInput:focus {
  outline: none;
}
.forgotPasswordStep1BoxCenterRight {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forgotPasswordStep1BoxCenterRightUserProfile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #aaa;
  cursor: pointer;  
  margin-bottom: 10px;
}
.forgotPasswordStep1BoxBottom {
  display: flex;
  border-top: 1px solid #aaa;
  padding-left: 20px;
  justify-content: space-between;
}
.forgotPasswordStep1BoxBottomLeft {
  padding-top: 15px;
  padding-bottom: 15px;
}

.forgotPasswordStep1BoxBottomLeftTitle {
  cursor: pointer;
  color: #1877f2;
  font-size: 14px;
}
.forgotPasswordStep1BoxBottomRight {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.forgotPasswordStep1BoxBottomRightButton {
  height: 40px;
  width: 100px;
  margin-right: 10px;
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
.forgotPasswordStep1BoxBottomRightButtonContinue {
  background-color: #1877f2;
  color: #fff;
}
