.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
}
.forgotPasswordTopBarWrapper {
  display: flex;
  height: 60px;
  width: 100%;
  top: 0;
  position: sticky;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
}

.forgotPasswordTopBarLeft {
  flex: 4;
  width: 100%;
  
}
.forgotPasswordTopBarRight {
  margin-top: 0px;
}

.forgotPasswordTopBarLogo {
  font-size: 30px;
  margin-left: 20px;
  font-weight: 800;
  color: #1877f2;
  cursor: pointer;  
  width: 130px;
}
.forgotPasswordInput {
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;
  margin-right: 20px;
  width: 200px;
}
.forgotPasswordInput:focus {
  outline: none;
  background-color: white;
}
.forgotPasswordButtonLogin {
  background-color: #1877f2;
  color: #fff;
  height: 40px;
  border-radius: 10px;
  border: none;
  width: 80px;
  margin-right: 20px;
  cursor: pointer;
}
.forgotPasswordLink {
  cursor: pointer;
  color: #1877f2;
  margin-right: 20px;
}
.forgotPasswordBox {
  display: flex;
  background-color: #e9ebee;
  height: calc(100vh - 60px);
}
.forgotPasswordBoxContainer {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
  margin: auto;
  width: 500px;
}

.forgotPasswordBoxTop {
  font-size: 12px;
  color: #1c1e21;
  border-bottom: 1px solid #aaa;
  padding: 15px 0 16px 15px;
}
.forgotPasswordBoxTopTitle {
  padding: 6px 0 6px 6px;
}

.forgotPasswordBoxCenterWrapper {
  display: flex;
  flex-direction: column;
}
.forgotPasswordBoxCenter {
  display: flex;
  padding-left: 20px;
}

.forgotPasswordBoxCenterLeft {
  flex: 4;
}
.forgotPasswordBoxCenterLeftTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.forgotPasswordBoxCenterLeftEmail {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-size: 17px;
}
.forgotPasswordBoxCenterLeftChoice {
  margin-right: 5px;
}
.forgotPasswordBoxCenterRight {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forgotPasswordBoxCenterRightUserProfile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #aaa;
  cursor: pointer;
  margin-bottom: 10px;
}
.forgotPasswordBoxBottom {
  display: flex;
  border-top: 1px solid #aaa;
  padding-left: 20px;
  justify-content: space-between;
}
.forgotPasswordBoxBottomLeft {
  padding-top: 15px;
  padding-bottom: 15px;
}

.forgotPasswordBoxBottomLeftTitle {
  cursor: pointer;
  color: #1877f2;
  font-size: 14px;
}
.forgotPasswordBoxBottomRight {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.forgotPasswordBoxBottomRightButton {
  height: 40px;
  width: 100px;
  margin-right: 10px;
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
.forgotPasswordBoxBottomRightButtonContinue {
  background-color: #1877f2;
  color: #fff;
}
